@font-face {
    font-family: Lacquer;
    src: url(./../Fontes/Lacquer-Regular.ttf);
  }

@font-face {
      font-family:Kurale;
      src: url(./../Fontes/Kurale-Regular.ttf);
  }

body{ background-color: #1287F5;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.trf {
    display: flex;
}

.text-rf {
    font-family:Kurale;
    list-style: none;
    color: white;
    text-align: center;
}

li {
    font-size: 2rem;
}

h2{font-size: 4rem;
    color: white;
    padding: 10px;
    text-align: center;
}

img {
    width: 30vw;
}

.imagem-rf {
    width: 100%;

}

.trfh {
    display: none;
}
 
@media only screen and (max-width: 1000px){

 main {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .trf {
     display: none;
     
    }

 .trfh{
     display: inline;
     text-align: center;
  }

  h2 {
    font-size: 3rem;
    
  }

.text-rf {
    text-align: center;
  }

 li {
     font-size: 2rem;
 }

 img {
     width: 40vw;
 }

 .imagem-rf {
     width:100%;
 }

}
 
