@font-face {
    font-family: Lacquer;
    src: url(./../Fontes/Lacquer-Regular.ttf);
  }

@font-face {
      font-family:Kurale;
      src: url(./../Fontes/Kurale-Regular.ttf);
  }

body{ background-color:rgb(0, 0, 0);
}

main {
    display: flex;
}

li {font-family:Kurale;
    list-style: none;
}

span{font-size: 20vw;
    padding: 10px;
}

picture{
    width: 50vw;
    display: flex;
}

img{
    width: 100%;
} 

.titulos {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title{
    color:rgb(247, 247, 247);
    background-color: #F5454C;
    font-family: "Lacquer";
    font-size: 4rem;
}

.title-2{
    color:rgb(247, 247, 247);
    background-color: #F5454C;
    font-family: Lacquer;
    font-size: 4rem;
 
}

.imagembp{filter:grayscale(1);
}
.list-anch{
    margin-top: 200px;
}

.og {background-color:#1287F5;
    color: white;
    text-decoration: none;
    font-size: 6vh;
    text-align: center;
}

.cp {background-color:#000000;
    color: white;
    text-decoration: none;
    font-size: 6vh;
    text-align: center;
}

.en {background-color:#000000;
     color: white;
     text-decoration: none;
     font-size: 6vh;
     text-align: center;
}

.rf {background-color:#1287F5;
     color: white;
     text-decoration: none;
     font-size: 6vh;
     text-align: center;
}

/*.tog{background-color:#1287F5;
     color: white; 
     font-size: 5vh;
}

.tcp{background-color:#000000;
     color: white;
     font-size: 5vh;
}

.ten{background-color:#000000;
     color:white;
     font-size: 5vh;
} 

.trf{background-color:#1287F5;
     color: white;
     font-size: 5vh;
}

.text-og{background-color:#1287F5;
         color: white;
         font-size: 2vh;
}

.text-cp{background-color:#000000;
         color: white;
         font-size: 2vh;
}

.text-en{background-color:#000000;
    color: white;
    font-size: 2vh;
}

.text-rf{background-color:#1287F5;
    color: white;
    font-size: 2vh;
}*/


/*.top {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-around;
}*/